flask==2.0.3
flask-sqlalchemy==2.5.1
flask-login==0.6.3
flask-wtf==1.2.2
email-validator==2.2.0
qrcode==8.0
Pillow==11.1.0
flask-migrate==3.1.0
flask-cors==5.0.0
Werkzeug==2.0.3
Jinja2>=3.0
itsdangerous>=2.0
click>=7.1.2
SQLAlchemy>=0.8.0
wtforms==3.2.1
dnspython>=2.0.0 